// This file can contain specific scss for the Main.js view component

.cmv_minimized_windows_toolbar {
    position: absolute;
    background-color: transparent;
    // twice the height of a toolbar + padding
    bottom: 0px;
    height: 50px !important;
    // unfortunately, we have to use a hack here to overwrite
    // the 'top' property set by Ext, so that our bottom property
    // actually applies.
    top: auto !important;
    // add an outline around the button
    .x-toolbar-item {
        border-color: #778899;
        border-width: medium;
    }
}

.cmv_minimized_windows_toolbar .x-box-inner {
    height: 36px;
}

.cmv_minimized_windows_toolbar .x-toolbar-item {
    top: auto !important;
}
