/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */

$enable-font-awesome: dynamic(true);

$font-size: dynamic(12px);

$form-field-padding: dynamic(2px 6px 1px);
$form-field-height: dynamic(22px);
$form-item-margin-bottom: dynamic(5px);

$form-date-trigger-glyph: dynamic($fa-var-calendar 12px $font-icon-font-family);
$spinner-trigger-up-glyph: dynamic($ext-var-spinner-up 12px ExtJS);
$spinner-trigger-down-glyph: dynamic($ext-var-spinner-down 12px ExtJS);


$fieldset-header-line-height: dynamic(0px);
$fieldset-header-font-size: $font-size;

$grid-row-cell-font-size: $font-size; // -1; // -1px;
$grid-row-cell-line-height: dynamic(8px);

.#{$prefix}btn-default-small {
    padding: 2px;
}

// space added below layers groups and layers items
.#{$prefix}form-checkboxgroup {
    padding-top: 10px;
}

.x-form-trigger-spinner-default, .x-form-spinner-default {
    width: 12px !important;
}

$tab-padding: dynamic(3px 13px 0px 10px);

.right-aligned-value .x-form-display-field {
    text-align: right;
    padding-right: 7px;
}

// Add legacy combo styling

.#{$prefix}boundlist-item-legacy {
    font-style: italic;
}

// end

// migration to ExtJS 7
// font-awesome is an ExtJS package located at ext-7.8.0/packages/font-awesome/sass/etc

.x-tree-icon {
    font-family: "Font Awesome 5 Free Regular"; // otherwise uses solid icons
}

.x-menu-item-unchecked .x-menu-item-icon-default.x-menu-item-checkbox {
    font: 18px/24px 'Font Awesome 5 Free Regular'; // or the layertree context menus are solid
}

// BasiGX has a hard-coded glyph set to xf192@FontAwesome
div[id^="basigx-panel-coordinatemouseposition-"] .x-btn .x-btn-icon-el:before {
    font-family: "Font Awesome 5 Free Regular";
    content: "\f192 "; /* new Unicode value for the icon */
}
