.cpsi-layer-legend {
    margin: 3px 0 0 0;
    border: 1px solid transparent;
    border-radius: 6px;
}

.cpsi-tree-node-disabled {
    opacity: 0.7;
    font-style: italic;
}

.cpsi-tree-node-filtered {
    font-style: italic;
    font-weight: bold;
}

.cpsi-tree-node-baselayer {
    .x-tree-checkbox {
        background-image: url(images/form/radio.png);
        margin-right: 4px;
        width: 15px;
        height: 15px;
        background-position: 0px 0px;
    }

    .x-tree-checkbox:before {
        content: "";
    }

    .x-tree-checkbox-checked {
        font: 18px/1 ExtJS;
        background-position: 0px -15px;
    }
}

.cpsi-tree-no-checkbox {
    .x-tree-checkbox {
        display: none;
    }
}
