.cpsi-layer-legend {
    margin: 3px 0 0 0;
    border: 1px solid transparent;
    border-radius: 6px;
}

.cpsi-tree-node-disabled {
    opacity: 0.7;
    font-style: italic;
}

.cpsi-tree-node-baselayer {
    .x-tree-checkbox {
        background-image: url(images/form/radio.png);
    }
}
